body {
	color: rgb(20,20,20);
	background: url('../art/space.png') no-repeat fixed center;
	background-size:100% 100%;
}
#main_table {
	background: rgba(0,0,0,0);
}
.tab_content {
	font-size: 12;
}
.overlay {
	color: #555555;
	background-color: rgba(255,255,255,0.75);

	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;

	padding: 10px;

	min-width: 150px;
	max-width: 150px;
	height: 100%;
}
#tabs {
	font-size: 12;
}
.hungry {
	width: 100%;
	height: 100%;
}
.gen {
	font-size: 10;
	text-align: center;
}
.powerup {
	border: dashed;
	border-width: 1px;
}